 main {
     padding: 40px;
     margin: 20px;
 }

.btn-primary{
    margin-bottom: 50px !important;
}

@media screen and (max-width: 770px){
    .dg-widget-link{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 770px){
    .karta {
       width:100%;
       
    }
}