.gallery {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.oao {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.photo {
    width: 800px;
}

#photo {
    width: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 1300px){
    .gallery img{
        width: 100%;
    }
}